[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
click = "*"
pytest = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
